<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.devla.genesisapp">

    <application
        android:name=".GenesisClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <uses-feature android:name="android.hardware.CAMERA" />

        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <!-- To auto-complete the email text field in the login form with the user's emails -->

        <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        <uses-permission android:name="android.permission.READ_PROFILE" />
        <uses-permission android:name="android.permission.READ_CONTACTS" />
        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

        <uses-feature android:name="android.hardware.camera" />

        <uses-permission android:name="android.permission.CAMERA" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewItems.HaveBarcodeActivity" />
        <activity android:name=".NewItems.ScanCodeBarActivity" />
        <activity
            android:name=".NewItems.IdentifyByUPCActivity"
            android:label="@string/title_activity_identify_by_upc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.SetItemNameActivity"
            android:label="@string/title_activity_new_item_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.ListOfProductsbyUPCActivity"
            android:label="@string/title_activity_list_of_productsby_upc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.NewItemAddDepartment"
            android:label="@string/title_activity_new_item_add_department"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.StatusAndCommentsActivity"
            android:label="@string/title_activity_prices_range"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.NewItemSetStatusActivity"
            android:label="@string/title_activity_new_item_set_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Search.SearchItemByNameActivity" />

        <service
            android:name=".Search.DatabaseUpdaterService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <activity
            android:name=".NewItems.AvailabilityActivity"
            android:label="@string/title_activity_availability"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.ResumenFinalActivity"
            android:label="@string/title_activity_resumen_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewItems.PrintQRGenActivity" />
        <activity
            android:name=".NewItems.SelectLocationActivity"
            android:label="@string/title_activity_select_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.BrandActivity"
            android:label="@string/title_activity_brand"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Reports.SalesByDeptoActivity" />
        <activity
            android:name=".Offers.OfferTypeActivity"
            android:label="@string/title_activity_offer_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.PricingActivity"
            android:label="@string/title_activity_pricing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.DiscountsActivity"
            android:label="@string/title_activity_discounts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.SelectSymbolActivity"
            android:label="@string/title_activity_select_symbol"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItems.QuantityActivity"
            android:label="@string/title_activity_quantity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchMenuActivity"
            android:label="@string/title_activity_search_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OffersMenuActivity"
            android:label="@string/title_activity_offers_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportsMenuActivity"
            android:label="@string/title_activity_reports_menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".NewItems.AlternativeScanActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>